<div class='container' style='float:left; width:100%; background-color: rgb(200, 255, 255);'>
    <div style='float:left'>
        <h1>{{paciente.nombre}} {{paciente.apellidos}}</h1>
    </div>
    <div style='float:right; margin:25px'>
        <button type="button" class="btn btn-primary" (click)='logout()' routerLink='/'>Salir</button>
    </div>
</div>
<div class='container' style='float:left; clear:both'>
    <h1>Citas</h1>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Fecha</th>
            <th scope="col">Motivo de la cita</th>
            <th scope="col">Médico</th>
            <th scope="col">
                <button type="button" class="btn btn-primary" (click)="openModal('citas-create-modal')"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                <jw-modal id="citas-create-modal">
                    <app-cita-paciente (newCitaEvent)="addCita($event)" [paciente]="paciente" [medicos]="paciente.medicos" [readOnly]="false" [modalId]="'citas-create-modal'"></app-cita-paciente>
                </jw-modal>
            </th> <!-- Contains Edit and Delete button for each Cita -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cita of paciente.citas; let i = index;">
            <th scope="row">{{cita.id}}</th>
            <th>{{cita.fechaHora | date:'medium'}}</th>
            <th>{{cita.motivoCita}}</th>
            <th>{{cita.medico.nombre}} {{cita.medico.apellidos}}</th>
            <th><button type="button" class="btn btn-primary" (click)="openModal('citas-read-modal-'+i)"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>
                <span>&nbsp;</span>
                <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></th>
            <jw-modal [id]="'citas-read-modal-'+i">
                <app-cita-paciente [cita]="cita" [medicos]="paciente.medicos" [readOnly]="true" [modalId]="'citas-read-modal-'+i"></app-cita-paciente>
            </jw-modal>
        </tr>
    </tbody>
</table>
